################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LocationWeather/v15/Server/sqlite3
*.suo
